.contact-title {
	margin: 1.6rem;
}
/**.contacto-body {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
	background-image: linear-gradient(#191919 #eee) ;
}**/
.contacto-body{
	display: flex;
	justify-content: space-evenly;
}
.contac-icons{
		ul{
			display: flex;
			flex-direction: column;
			gap: 1.5rem;
			list-style: none;
			li{
					text-align: left;
				}
	}
}
.contac-icons {
	ul {
		a {
			text-decoration: none;
			color: $color_3;
		}
	}
}
.send-button {
	margin-top: 15px;
	height: 34px;
	width: 400px;
	overflow: hidden;
	transition: all .2s ease-in-out;
}
.alt-send-button {
	width: 400px;
	height: 34px;
	transition: all .2s ease-in-out;
	&:hover {
		transform: translate3d(0px, -29px, 0px);
	}
}
.send-text {
	display: block;
	margin-top: 10px;
	font: 700 12px 'Lato', sans-serif;
	letter-spacing: 2px;
}
textarea {
	resize: none !important;
	background-color: $background-color_7;
}
.semanal {
	background-color: $background-color_3;
}


