// titulo
.contact-title {
	margin-block: 1.6rem;
}
.contacto-main{
    display: flex;
    justify-content: space-around;
    width: 100%
}
// contac label
.contact-label{
	@include flex(row, center, 50px);
	border: 2px solid $color_3;
	padding: 10px;
	background-color: $background-color_10;
}
// iconos right
.contac-icons{
		ul{
			display: flex;
			flex-direction: column;
			gap: 1.5rem;
			list-style: none;
			li{
					text-align: left;
				}
	}
}
.contac-icons {
	transition: all ease-in-out 0.5s;
	
	ul {
		transition: all ease-in-out 0.5s;
		&:hover{
			transition: all ease-in-out 0.5s;
			background-color: $background-color_10;
			color: $color_5;
			height: 11rem;
			a{
				color: $color_5;

			}
			}
		a {
			text-decoration: none;
			color: $color_3;

		}
	}
}
// btn hover
.send-button {
	margin-top: 15px;
	height: 34px;
	width: 400px;
	overflow: hidden;
	transition: all .2s ease-in-out;
}
.alt-send-button {
	width: 400px;
	height: 34px;
	transition: all .2s ease-in-out;
	&:hover {
		transform: translate3d(0px, -29px, 0px);
	}
}
.send-text {
	display: block;
	margin-top: 10px;
	font: 700 12px 'Lato', sans-serif;
	letter-spacing: 2px;
}
// textarea
textarea {
	resize: none !important;
	background-color: $background-color_7;
}
.semanal {
	background-color: $background-color_3;
}

