.carousel-inner {
	img {
		max-height: 300px;
		object-fit: cover;
		opacity: 10%;
	}
}
.c1 {
	color: $color_5;
	background-color: $background-color_10;
}
.c2 {
	color: $color_5;
	background-color: $background-color_10;
}
.c3 {
	color: $color_5;
	background-color: $background-color_10
}
.menu-titulo {
	h1 {
		margin-top: 20px;
		font-size: 30px;
		font-family: $font-family_3;
		font-style: italic;
		color: $color_1;
		text-align: center;
		text-decoration: none;
	}
	li {
		margin-top: 5px;
		font-size: 15px;
		font-family: $font-family_2;
		text-align: center;
		text-decoration: dashed;
		color: $color_1;
	}
}
.opc-car {
	transition: all 0.5s ease-in-out;
	&:hover {
		h2 {  
			transition: all 0.5s ease-in-out;
			letter-spacing: 10px;
			cursor: pointer;
		}
	}
}
.menu-img {
	transition: 1s;
	&:hover {
		transform: scale(1.10);
	}
}
.menu-carne {
	a {
		transition: all 0.5s ease-in-out;
		&:hover {
			transition: all 0.5s ease-in-out;
			background-color: $background-color_2;
			border-radius: 10%;
			border: 2px solid #04798e;
			box-shadow: none;
		}
	}
	padding: 20px;
	display: flex;
	justify-content: space-between;
	gap: 30px;
	>article {
		display: flex;
		flex-direction: column;
		width: 30%;
		border: 2px solid $color_1;
		border-radius: 30px 0 30px 0;
		position: relative;
		background-color: $background-color_3;
		box-shadow: 5px 5px 5px 0px #191919;
		img {
			height: 200px;
			max-width: 80%;
			aspect-ratio: 1;
			object-fit: cover;
			background-color: $background-color_3;
			border: solid $color_1;
			border-radius: 30px 0 30px 0;
			margin-block: 20px;
			margin-inline: auto;
		}
		h2 {
			padding: 20px;
			margin: 20px;
			color: $color_5;
			height: 20%;
			text-align: center;
			background-color: $background-color_10;

		}
		a {
			text-decoration: none;
			color: $color_2;
			border: 2px solid $color_5;
			align-self: center;
			text-align: center;
			padding: 10px;
			margin: 2rem;
			background-color: $background-color_9;
			box-shadow: 5px 5px 5px 0 #191919;
		}
	}
	p {
		text-align: center;
		color: $color_5;
		height: 20%;
		background-color: $background-color_10;
	}
}