// titulo
.titulo-blog {
	margin: 2.8rem;
	font-size: 2.5rem;
}
// body
.grid-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
}
// cards
.grid {
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.5s;
	height: 180px;
	a {
		text-decoration: none;
	}
	&:nth-child(odd) {
		a {
			color: $color_5;
			width: 33%;
		}
		background-color: $background-color_9;
		gap: 20px;
		border: solid 2px #59cee6;
		p {
			color: $color_5;
			width: 33%;
		}
		img {
			width: 33%;
		}
		&:hover {
			background-color: $background-color_1;
			transition: all 0.2s ease-in-out;
			>img {
				width: 40%;
				height: 100%;
				transition-duration: 0.5s;
			}
			>* {
				color: $color_3;
			}
		}
	}
	&:nth-child(even) {
		background-color: $background-color_8;
		gap: 20px;
		border: solid 2px #191919;
		a {
			color: $color_3;
			width: 33%;
		}
		p {
			width: 33%;
		}
		img {
			width: 33%;
		}
		&:hover {
			background-color: $background-color_1;
			transition: all 0.2s ease-in-out;
			>img {
				width: 40%;
				height: 100%;
				transition-duration: 0.5s;
			}
			>* {
				color: $color_3;
			}
		}
	}
}
// img cards
.blog-img {
	width: 30%;
	height: 100%;
	aspect-ratio: 3/2;
	object-fit: cover;
}
.bs-opacity{
	opacity: 100%;
	background-color: $background-color_1;
}