footer {
	background-color: $background-color_9;
	color: $color_9;
	margin-top: 2.5rem;
	font-size: 0.9rem;
	font-weight: bolder;
}
.navbar-footer {
	>li {
		text-decoration: none;
		color: $color_8;
		border-radius: 30px;
		transition: 0.5s;
		padding: 5px;
		max-height: 1.8rem;
	}
	a {
		transition: all 0.5s ease-in-out;
		color: $color_5;
		font-size: 0.8rem;
		font-weight: bolder;
		&:hover {
			transition: all 0.5s ease-in-out;
			background-color: $background-color_4;
			color: $color_3;
			border: 1px solid #cb76be;
			border-radius: 30px;
		}
	}
}