$color_1: #b91f1f;
$color_2: #eeee;
$color_3: #191919;
$color_4: #ef2409;
$color_5: #59cee6;
$color_6: #06035dfe;
$color_7: #06f90ec7;
$color_8: #cb76be;
$color_9: #59ceee;
$font-family_1: Arial, Helvetica, sans-serif;
$font-family_2: Verdana, Geneva, Tahoma, sans-serif;
$font-family_3: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$background-color_1: #eeee;
$background-color_2: #191919;
$background-color_3: bisque;
$background-color_4: #59cee6;
$background-color_5: #b91f1f;
$background-color_6: #cb76be;
$background-color_7: #292727ee;
$background-color_8: #59ceee;
$background-color_9: #2c2b2be2;
$background-color_10: #434040e2;
$main-color: #ff6ad5;
$dark-color:#040828;
$light-color:#fff;